.structure-content{
    /* max-width: 360px; */
    text-align: center;
}
.structure-h3{
    color: var(--color-gris);
    padding-bottom: 1em;
    border-bottom: 1px solid var(--color-gris)
}
.structure-p{
padding-top: 1em;
color: var(--color-gris);
}
