
.inicio-section{
    padding-top: 120px;
    margin-bottom: 150px;
    
}
.inicio-content{
    
    
    padding: 0 20px 0 20px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 80px;
   
}

.inicio-p{
    justify-self: center;
    font-size: 1.4em;
    color: var(--color-gris)
    
}

.inicio-icons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    
    
}
.i-linkedin > img, .i-github > img{
    
    width: 60px;
    transition: 2s ease;
    
}
.i-linkedin > img:hover{
    transform: scale(1.2);
    
     
}
.i-github > img:hover{
    
    transform: scale(1.2);
     
}
.i-linkedin{
    justify-self: center;
}

.i-github{
    justify-self: center;
}

.inicio-img{
    
    border-radius: 50%;
    width: 250px;
    justify-self: center;
    
}

.border-grid{
    border: 1px solid #000;
}