
.inicio-section{

    width: 90%;
    padding-top: 7.7em;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    
}
.inicio-content{
    
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5em;
   
}

.inicio-p{
    justify-self: center;
    font-size: 1.4em;
    color: var(--color-gris)
    
}

.inicio-icons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    
    
}
.i-linkedin > img, .i-github > img{
    
    width: 60px;
    transition: all 0.5s ease;

    
}
.i-linkedin > img:hover{
    transform: scale(1.3);
    
}
.i-github > img:hover{
    
    transform: scale(1.3);
    
}
.i-linkedin, .i-github{
    justify-self: center;
    animation: move;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.i-github{
    animation-direction: reverse;
}

.inicio-img{
    
    border-radius: 50%;
    width: 250px;
    justify-self: center;

}

/**********keyframes!!*********/

@keyframes move{
    0%{transform: translateY(0px);}
    25%{transform: translateY(5px);}
    50%{transform: translateY(0px);}
    75%{transform: translateY(-5px);}
    100%{transform: translateY(0px);}
}


@media screen and (min-width: 768px){

    .inicio-section{

        width: 95%;
        padding-top: 11.7em;
        position: relative;
        left: 0;
        right: 0;
        margin: auto;
        
    }

    .inicio-content{
        
        grid-template-columns: repeat(2, 1fr);
        
        row-gap: 5em;
       
    }
    .inicio-p{
        
        font-size: 2em;
    }
    .inicio-icons{
        grid-column: 1/2;
        grid-row: 2/3;
        grid-template-columns: repeat( 2, 1fr);
        align-items: center;
    }
    .inicio-img {
        justify-self: end;
        width: 350px;
        grid-column: 2/3;
        grid-row: 2/3;
    }


}
@media screen and (min-width: 1024px){

    .inicio-img {
        justify-self: center;
        width: 400px;
        grid-column: 2/3;
        grid-row: 2/3;

    }
}

@media screen and (min-width: 1400px){

    .inicio-section{
        padding-top: 15.7em;
        
    }
    
    .inicio-img {
        
        width: 500px;
        grid-column: 2/3;
        grid-row: 1/3;

    }

}