@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
  --font-primary: 'Poppins', sans-serif;

  --colorT-lilac: rgba(176,172,251, 1);
  --colorT-lila: rgba(65,57,255, 1);
  --colorT-gris: rgba(135, 135, 148, .3);
  --colorT-rojo: rgba(245, 5, 16, 1);
  --colorT-bordo: rgba(115, 6, 11, 1);
  --colorT-celeste: rgb(71, 192, 223);

  
  --color-blanco: #ffffff;
  --color-negro: #000000;
  --color-celeste:#ddecff;
  --color-azul: #0A4580;
  --color-gris: #6c757d;

}

*{
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  
}

::selection {
  color: var(--colorT-celeste);
  background: var(--colorT-gris);
}


.App{
  position: relative;
}

/*
  styles de helpers
   mejorar a futuro faltan buenas practicas:
*/

.effectScroll{
  opacity: 0;
  
  transition: opacity ease 2s;
}

.show-effect{
  
  animation: show-effect ease 1s;
  
}
@keyframes show-effect{
  0%{
    
    transform: translateY(50px);
  }
  100%{
    
    transform: translateY(0);
  }
}

/*
@media screen and (min-width: 1200px){
  .App{
    padding: 0px 80px 0px 80px;
  }
}
@media screen and (min-width: 1400px){
  .App{
    padding: 0px 200px 0px 200px;
  }
}
*/